<% var categories %>
<div class="catalog d-none">
    <div class="catalog__inner">
        <div class="decoration-layer"></div>
        <div class="container">
            <aside class="catalog__sidebar">
                <ul class="catalog__list">
                    <% categories.forEach(category => { %>
                        <li class="catalog__item">
                            <a class="catalog__link" href="/categories/<%= category.slug %>">
                                <span></span>
                                <span><%= category.ru_name[0].toUpperCase() + category.ru_name.substring(1) %></span>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </aside>
            <main class="catalog__content">
                <% categories.forEach(category => { %>
                    <div class="catalog__content__item">
                        <div class="catalog__content__item__left">
                            <div class="catalog__content__item__card">
                                <h3 class="catalog__content__item__heading"><%= category.ru_name[0].toUpperCase() + category.ru_name.substring(1) %></h3>
                                <ul class="catalog__content__item__ul">
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Научная литература</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Историческая литература</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Художетвенная литература</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Детектив</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Мелодрамма</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Комикси</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Литература Азии</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="catalog__content__item__card">
                                <h3 class="catalog__content__item__heading">Исламские книги</h3>
                                <ul class="catalog__content__item__ul">
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Коран</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Корановедение</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Исламская этика</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Вероубеждение</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Молитвы</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Жизнеописания пророка</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Таджвид</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="catalog__content__item__card">
                                <h3 class="catalog__content__item__heading">Узбекские книги</h3>
                                <ul class="catalog__content__item__ul">
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Стихи</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Романы</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Переводы</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Психология</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Мотивация</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Классика</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Узбекская литература</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="catalog__content__item__card">
                                <h3 class="catalog__content__item__heading">Аудио книги</h3>
                                <ul class="catalog__content__item__ul">
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Исламские</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Мировые</a>
                                    </li>
                                    <li class="catalog__content__item__li">
                                        <a class="catalog__content__item__link" href="">Узбекские</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="catalog__content__item__right">
                            <a href="">
                                <img src="/images/catalog-brands/1.png" alt="">
                            </a>
                            <a href="">
                                <img src="/images/catalog-brands/2.png" alt="">
                            </a>
                            <a href="">
                                <img src="/images/catalog-brands/3.png" alt="">
                            </a>
                            <a href="">
                                <img src="/images/catalog-brands/4.png" alt="">
                            </a>
                            <a href="">
                                <img src="/images/catalog-brands/5.png" alt="">
                            </a>
                            <a href="">
                                <img src="/images/catalog-brands/6.png" alt="">
                            </a>
                        </div>
                    </div>
                <% }) %>
            </main>
        </div>
    </div>
</div>