<div class="categories-modal d-none">
    <div class="categories-modal__inner">
        <div class="categories-modal__header">
            <h2>
                <img src="/images/categories-icons/lupa.svg" alt="lupa icon">
                <span>Все категории</span>
            </h2>
            <img id="categories-modal-close" src="/images/categories-icons/times.svg" alt="times icon">
        </div>
        <div class="categories-modal__main">
            <ul class="categories-modal__ul">
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/book.svg" alt="icon">
                        <span>Книги</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/disc.svg" alt="icon">
                        <span>Диски</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/atributika.svg" alt="icon">
                        <span>Атрибутика</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/kanstovar.svg" alt="icon">
                        <span>Концтовары</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/formen.svg" alt="icon">
                        <span>Для мужчин</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/forwomen.svg" alt="icon">
                        <span>Для женщин</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/forkids.svg" alt="icon">
                        <span>Для детей</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/juvelir.svg" alt="icon">
                        <span>Ювилерные изделия</span>
                    </a>
                </li>
            </ul>
            <ul class="categories-modal__ul">
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/parfum.svg" alt="icon">
                        <span>Парфюмерия</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/food.svg" alt="icon">
                        <span>Продукты питания</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/healthy.svg" alt="icon">
                        <span>Личение и здоровье</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/beauty.svg" alt="icon">
                        <span>Красота и уход</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/oil.svg" alt="icon">
                        <span>Натуральные масла</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/suvenir.svg" alt="icon">
                        <span>Сувениры</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/dom.svg" alt="icon">
                        <span>Дом и интерьер</span>
                    </a>
                </li>
                <li class="categories-modal__li">
                    <a class="categories-modal__link" href="#">
                        <img src="/images/categories-icons/posuda.svg" alt="icon">
                        <span>Посуда</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>