<%- include('partials/header') %>

<div class="container pt-20">
    <nav class="breadcrumb">
        <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="/">
                    Главная
                </a>
            </li>
            <li class="breadcrumb-item">
                Личный кабинет
            </li>
        </ol>
    </nav>
</div>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <aside class="cabinet__sidebar">
                <div class="cabinet__profile__img__wrapper">
                    <img class="cabinet__profile__img" src="/images/cabinet/profile_img.jpg" alt="Profile img">
                    <div>
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </div>
                </div>
                <div class="cabinet__texts__wrapper">
                    <h2 class="cabinet__username">
                        Вахабов
                        Абдулбасит
                    </h2>
                    <a href="#" class="cabinet__edit">
                        Изменить профиль
                    </a>
                    <h3 class="cabinet__sidebar__header">
                        Покупки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Заказы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Купленные товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Регулярные доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возвраты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Цифровые товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Для меня
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Личная информация
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои данные
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои отзывы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Баллы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Кодовое слово
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Дисконт %
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link active" href="/cabinet">
                                Сохранённые карты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Card
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Акции и подписки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Акция "1+1=3"
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Настройки уведомлений
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Доставка и магазин
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Ташкент
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Наши официальные магазины на карте
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Стоимость доставки
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Центр коммуникации
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Уведомления
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сообщения
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Популярные вопросы
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы оплаты
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Приложение
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возврат товаров
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Аккаунт и безопасность
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                О приложение
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main--save-card">
                <h2 class="section__heading">
                    Сохраненные карты
                </h2>
                <ul class="my-cards__list">
                    <li class="my-card__item row">
                        <img src="/images/cabinet/visa2.svg" alt="visa">
                        <span>Visa **4321</span>
                        <button class="my-card__delete" type="button">
                        </button>
                    </li>
                </ul>
                <button class="add-card__btn my-card__item row" type="button">
                    <img src="/images/cabinet/addcard.svg" alt="add card icon">
                    <span>Добавить карту</span>
                </button>
            </main>
        </div>
    </div>
</section>

<hr>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <aside class="cabinet__sidebar">
                <div class="cabinet__profile__img__wrapper">
                    <img class="cabinet__profile__img" src="/images/cabinet/profile_img.jpg" alt="Profile img">
                    <div>
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </div>
                </div>
                <div class="cabinet__texts__wrapper">
                    <h2 class="cabinet__username">
                        Вахабов
                        Абдулбасит
                    </h2>
                    <a href="#" class="cabinet__edit">
                        Изменить профиль
                    </a>
                    <h3 class="cabinet__sidebar__header">
                        Покупки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Заказы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Купленные товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Регулярные доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возвраты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Цифровые товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Для меня
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Личная информация
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои данные
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои отзывы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Баллы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Кодовое слово
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Дисконт %
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link active" href="/cabinet">
                                Сохранённые карты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Card
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Акции и подписки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Акция "1+1=3"
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Настройки уведомлений
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Доставка и магазин
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Ташкент
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Наши официальные магазины на карте
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Стоимость доставки
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Центр коммуникации
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Уведомления
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сообщения
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Популярные вопросы
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы оплаты
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Приложение
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возврат товаров
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Аккаунт и безопасность
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                О приложение
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main--save-card">
                <h2 class="section__heading">
                    Сохраненные карты
                </h2>
                <div class="search__result-box">
                    <div class="not-found__box">
                        <img src="/images/icons/search2.svg" alt="search icon">
                        <span>У вас нет сохраненных карт</span>
                    </div>
                    <button class="button-blue" type="button">
                        Добавить карту
                    </button>
                </div>
            </main>
        </div>
    </div>
</section>

<hr>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <aside class="cabinet__sidebar">
                <div class="cabinet__profile__img__wrapper">
                    <img class="cabinet__profile__img" src="/images/cabinet/profile_img.jpg" alt="Profile img">
                    <div>
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </div>
                </div>
                <div class="cabinet__texts__wrapper">
                    <h2 class="cabinet__username">
                        Вахабов
                        Абдулбасит
                    </h2>
                    <a href="#" class="cabinet__edit">
                        Изменить профиль
                    </a>
                    <h3 class="cabinet__sidebar__header">
                        Покупки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Заказы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Купленные товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Регулярные доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возвраты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Цифровые товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Для меня
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Личная информация
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои данные
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои отзывы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Баллы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Кодовое слово
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Дисконт %
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сохранённые карты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Card
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Акции и подписки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Акция "1+1=3"
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Настройки уведомлений
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Доставка и магазин
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Ташкент
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Наши официальные магазины на карте
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Стоимость доставки
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Центр коммуникации
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Уведомления
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link active" href="/cabinet">
                                Сообщения
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Популярные вопросы
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы оплаты
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Приложение
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возврат товаров
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Аккаунт и безопасность
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                О приложение
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main--message">
                <ul class="tab-panel__list">
                    <li class="tab-panel__item">
                        <a href="/cabinet" class="tab-panel__link active">
                            Заказы
                        </a>
                        <span>3</span>
                    </li>
                    <li class="tab-panel__item">
                        <a href="/cabinet" class="tab-panel__link">
                            Купленные товары
                        </a>
                    </li>
                    <li class="tab-panel__item">
                        <a href="/cabinet" class="tab-panel__link">
                            Регулярные доставки
                        </a>
                    </li>
                </ul>
                <div class="custom-select filter__product">
                    <select>
                        <option value="0">Все</option>
                    </select>
                </div>
                <div class="tab__content">
                    <ul class="order-card__list">
                        <li class="order-card__item">
                            <div class="card__header">
                                <div class="order__info-box">
                                    <h3 class="order__info__heading">
                                        Заказ от 8 октября
                                    </h3>
                                    <span class="order__id">
                                                51066532-0001
                                            </span>
                                </div>
                                <div class="order__cost-box">
                                    <h3 class="order__cost__heading">
                                        50 000 сум
                                    </h3>
                                    <span class="order__pay-type">
                                                Картой онлайн
                                            </span>
                                </div>
                            </div>
                            <div class="card__body order__submitted">
                                <div class="card__body--texts">
                                    <div class="row">
                                        <h3 class="courier__heading">
                                            Доставка курьером
                                        </h3>
                                        <div class="status__order">Отправлен
                                            <div class="status-levels__order">
                                                <ul class="status-level__list">
                                                    <li class="status-level__item active">
                                                        <h3 class="status-level__heading">
                                                            ОЖИДАЕТ ОПЛАТЫ
                                                        </h3>
                                                        <span>
                                                                    Заказ ожидает оплаты
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item active">
                                                        <h3 class="status-level__heading">
                                                            ПРИНЯТО В РАБОТУ
                                                        </h3>
                                                        <span>
                                                                    Заказ оплачен. На данном этапе производится
                                                                    комплектация
                                                                    и упаковка товаров
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item active">
                                                        <h3 class="status-level__heading">
                                                            ПЕРЕДАНО В ДОСТАВКУ
                                                        </h3>
                                                        <span>
                                                                    На данном этапе происходит транспортировка товаров
                                                                    до
                                                                    точки, из которой его заберет курьер
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item active">
                                                        <h3 class="status-level__heading">
                                                            У КУРЬЕРА
                                                        </h3>
                                                        <span>
                                                                    Курьер забрал ваши товары со склада и начал
                                                                    развозить
                                                                    заказы
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item">
                                                        <h3 class="status-level__heading">
                                                            ПОЛУЧЕНО
                                                        </h3>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card__text mb-10">
                                        Дата доставки: 8 октября в 12:30
                                    </p>
                                    <p class="card__text">
                                        Адрес: Тошкент шаҳар, Шайхонтоҳур тумани, Фаровон 3-тор кўча, 2 уй.
                                    </p>
                                </div>
                                <div class="card__body--img">
                                    <img src="/images/cabinet/product__img.jpg" alt="product img"
                                         class="product__img">
                                </div>
                            </div>
                        </li>
                        <li class="order-card__item">
                            <div class="card__header">
                                <div class="order__info-box">
                                    <h3 class="order__info__heading">
                                        Заказ от 8 октября
                                    </h3>
                                    <span class="order__id">
                                                51066532-0001
                                            </span>
                                </div>
                                <div class="order__cost-box">
                                    <h3 class="order__cost__heading">
                                        50 000 сум
                                    </h3>
                                    <span class="order__pay-type">
                                                Картой онлайн
                                            </span>
                                </div>
                            </div>
                            <div class="card__body order__awaiting-payment">
                                <div class="card__body--texts">
                                    <div class="row">
                                        <h3 class="courier__heading">
                                            Доставка курьером
                                        </h3>
                                        <div class="status__order">Ожидает оплаты
                                            <div class="status-levels__order">
                                                <ul class="status-level__list">
                                                    <li class="status-level__item active">
                                                        <h3 class="status-level__heading">
                                                            ОЖИДАЕТ ОПЛАТЫ
                                                        </h3>
                                                        <span>
                                                                    Заказ ожидает оплаты
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item">
                                                        <h3 class="status-level__heading">
                                                            ПРИНЯТО В РАБОТУ
                                                        </h3>
                                                        <span>
                                                                    Заказ оплачен. На данном этапе производится
                                                                    комплектация
                                                                    и упаковка товаров
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item">
                                                        <h3 class="status-level__heading">
                                                            ПЕРЕДАНО В ДОСТАВКУ
                                                        </h3>
                                                        <span>
                                                                    На данном этапе происходит транспортировка товаров
                                                                    до
                                                                    точки, из которой его заберет курьер
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item">
                                                        <h3 class="status-level__heading">
                                                            У КУРЬЕРА
                                                        </h3>
                                                        <span>
                                                                    Курьер забрал ваши товары со склада и начал
                                                                    развозить
                                                                    заказы
                                                                </span>
                                                    </li>
                                                    <li class="status-level__item">
                                                        <h3 class="status-level__heading">
                                                            ПОЛУЧЕНО
                                                        </h3>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <img src="/images/icons/info.svg" alt="info icon">
                                    </div>
                                    <div class="row alert--warning">
                                        <img src="/images/icons/warning.svg" alt="warning icon">
                                        <span>
                                                    Оплатите заказ, чтобы мы начали его собирать и доставили
                                                    вовремя.
                                                </span>
                                    </div>
                                    <div class="row order__awaiting-payment__footer">
                                        <button class="button-blue" type="submit">Оплатить</button>
                                        <button class="button-blue" type="submit">В
                                            корзину
                                        </button>
                                        <span>
                                                    Заказ отменится через:
                                                    <span class="order-cancel-time">
                                                        00:29:15
                                                    </span>
                                                </span>
                                    </div>
                                </div>
                                <div class="card__body--img">
                                    <img class="product__img" src="/images/cabinet/product__img.jpg"
                                         alt="product img">
                                </div>
                            </div>
                        </li>
                        <li class="order-card__item">
                            <div class="card__header">
                                <div class="order__info-box">
                                    <h3 class="order__info__heading">
                                        Заказ от 8 октября
                                    </h3>
                                    <span class="order__id">
                                                51066532-0001
                                            </span>
                                </div>
                                <div class="order__cost-box">
                                    <h3 class="order__cost__heading">
                                        50 000 сум
                                    </h3>
                                    <span class="order__pay-type">
                                                Картой онлайн
                                            </span>
                                </div>
                            </div>
                            <div class="card__body order__canceled">
                                <div class="card__body--texts">
                                    <div class="row">
                                        <h3 class="courier__heading">
                                            Доставка курьером
                                        </h3>
                                        <div class="status__order">Отменено</div>
                                    </div>
                                    <p class="card__text mb-10">
                                        Дата отмены: 8 октября в 11:30
                                    </p>
                                    <p class="card__text">
                                        Причина отмены: Возникли проблемы при обработке заказа
                                    </p>
                                </div>
                                <div class="card__body--img">
                                    <img src="/images/cabinet/product__img.jpg" alt="product img"
                                         class="product__img">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
        </div>
    </div>
</section>

<hr>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <aside class="cabinet__sidebar">
                <div class="cabinet__profile__img__wrapper">
                    <img class="cabinet__profile__img" src="/images/cabinet/profile_img.jpg" alt="Profile img">
                    <div>
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </div>
                </div>
                <div class="cabinet__texts__wrapper">
                    <h2 class="cabinet__username">
                        Вахабов
                        Абдулбасит
                    </h2>
                    <a href="#" class="cabinet__edit">
                        Изменить профиль
                    </a>
                    <h3 class="cabinet__sidebar__header">
                        Покупки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Заказы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Купленные товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Регулярные доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возвраты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Цифровые товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Для меня
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Личная информация
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои данные
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои отзывы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Баллы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Кодовое слово
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Дисконт %
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сохранённые карты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Card
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Акции и подписки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Акция "1+1=3"
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link  active" href="/cabinet">
                                Настройки уведомлений
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Доставка и магазин
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Ташкент
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Наши официальные магазины на карте
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Стоимость доставки
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Центр коммуникации
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Уведомления
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сообщения
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Популярные вопросы
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы оплаты
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Приложение
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возврат товаров
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Аккаунт и безопасность
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                О приложение
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main--setting-notification">
                <h2 class="section__heading">
                    Настройки уведомлений
                </h2>
                <div class="status-order__box">
                    <h3 class="box__heading">
                        Статус заказа
                    </h3>
                    <p class="box__text">
                        Отслеживайте заказы в реальном времени
                    </p>
                    <div class="box__edit">
                        <div class="box__edit__left">
                            <p class="edit__heading">
                                Телефон
                            </p>
                            <p class="edit__content">
                                +998 97 992 48 78
                            </p>
                            <button class="edit__btn" type="button">
                                Изменить
                            </button>
                        </div>
                        <div class="box__edit__right">
                            <p class="edit__heading">
                                E-mail
                            </p>
                            <p class="edit__content">
                                iamvakhabov@gmail.com
                            </p>
                            <button class="edit__btn" type="button">
                                Изменить
                            </button>
                        </div>
                    </div>
                    <p class="edit__notification">
                        Чтобы получать интересующие вас push-уведомления, не забудьте включить их в настройках
                        вашего телефона
                    </p>
                </div>
                <div class="row pb-50">
                    <div class="featured-products__box">
                        <h3 class="box__heading">
                            Избранные товары
                        </h3>
                        <p class="box__text">
                            Узнавайте о снижении цены и появлении в продаже любимых товаров
                        </p>
                        <div class="row mb-20">
                            <span class="switch__heading">Push-уведомления</span>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="row">
                            <span class="switch__heading">Email</span>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="discounts-promotions__box">
                        <h3 class="box__heading">
                            Скидки и акции
                        </h3>
                        <p class="box__text">
                            Экономьте на акциях и распродажах
                        </p>
                        <div class="row mb-20">
                            <span class="switch__heading">Push-уведомления</span>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="row">
                            <span class="switch__heading">Email</span>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="que-abo-products__box pb-50">
                    <!-- Questions about products -->
                    <h3 class="box__heading">
                        Вопросы о товарах
                    </h3>
                    <p class="box__text mb-20">
                        Помогайте людям, отвечая на вопросы о купленных вами товарах
                    </p>
                    <p class="box__select__heading">
                        Email
                    </p>
                    <div class="custom-select">
                        <select>
                            <option value="0">Раз в 3 дня</option>
                        </select>
                    </div>
                </div>
                <div class="ans-abo-products__box pb-50">
                    <!-- Answers to your questions about products -->
                    <h3 class="box__heading">
                        Ответы на ваши вопросы о товарах
                    </h3>
                    <p class="box__text mb-20">
                        Получайте уведомления, когда на ваш вопрос о товаре ответят
                    </p>
                    <p class="box__select__heading">
                        Email
                    </p>
                    <div class="custom-select">
                        <select>
                            <option value="0">Раз в 3 дня</option>
                        </select>
                    </div>
                </div>
                <div class="users-rewiev__box">
                    <h3 class="box__heading mb-20">
                        Подписки на отзывы пользователей
                    </h3>
                    <p class="box__text">
                        Список подписок пуст.
                    </p>
                </div>
            </main>
        </div>
    </div>
</section>

<hr>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <aside class="cabinet__sidebar">
                <div class="cabinet__profile__img__wrapper">
                    <img class="cabinet__profile__img" src="/images/cabinet/profile_img.jpg" alt="Profile img">
                    <div>
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </div>
                </div>
                <div class="cabinet__texts__wrapper">
                    <h2 class="cabinet__username">
                        Вахабов
                        Абдулбасит
                    </h2>
                    <a href="#" class="cabinet__edit active">
                        Изменить профиль
                    </a>
                    <h3 class="cabinet__sidebar__header">
                        Покупки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Заказы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Купленные товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Регулярные доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возвраты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Цифровые товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Для меня
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Личная информация
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои данные
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои отзывы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Баллы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Кодовое слово
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Дисконт %
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сохранённые карты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Card
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Акции и подписки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Акция "1+1=3"
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Настройки уведомлений
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Доставка и магазин
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Ташкент
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Наши официальные магазины на карте
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Стоимость доставки
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Центр коммуникации
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Уведомления
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сообщения
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Популярные вопросы
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы оплаты
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Приложение
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возврат товаров
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Аккаунт и безопасность
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                О приложение
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="main--my-details">
                <h2 class="section__heading">
                    Личные данные
                </h2>
                <form class="personal-data__form">
                    <div class="row">
                        <div class="input__wrapper">
                            <label>Имя</label>
                            <input type="text" value="Абдулбасит">
                        </div>
                        <div class="input__wrapper">
                            <label>Дата рождения</label>
                            <input type="text" value="06 Февраль 1998">
                        </div>
                    </div>
                    <div class="row mb50">
                        <div class="input__wrapper">
                            <label>Фамилия</label>
                            <input type="text" value="Вахабов">
                        </div>
                        <div class="gender__wrapper">
                            <span class="gender__title">Пол</span>
                            <div class="gender-checkbox__wrapper">
                                <div class="gender-checkbox">
                                    <input type="radio" id="male-choice" name="gender" value="male" checked>
                                    <label for="male-choice">
                                        Мужской
                                    </label>
                                </div>
                                <div class="gender-checkbox">
                                    <input type="radio" id="female-choice" name="gender" value="female">
                                    <label for="female-choice">
                                        Женский
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="my-details__btn button-blue" type="submit" disabled>Сохранить</button>
                </form>
                <h2 class="section__heading pt50">
                    Учётные данные
                </h2>
                <form class="credentials__form">
                    <div class="row mb50">
                        <div class="input__wrapper">
                            <label>Телефон
                            </label>
                            <input type="text" value="+998 97 992 48 78">
                        </div>
                        <div class="input__wrapper">
                            <label>E-mail
                            </label>
                            <input type="email" value="iamvakhabov@gmail.com">
                        </div>
                    </div>
                    <button class="my-details__btn button-blue" disabled>Сохранить</button>
                </form>
                <h2 class="section__heading pt50">
                    Управление аккаунтом
                </h2>
                <ul class="exit__list">
                    <li class="exit__item">
                        Вы с нами с 29 Сентября 2020 года
                    </li>
                    <li class="exit__item">
                        <a class="exit__link" href="/cabinet">
                            Выйти на всех устройствах</a>
                    </li>
                    <li class="exit__item">
                        <a class="exit__link" href="/cabinet">
                            Выйти из аккаунта</a>
                    </li>
                </ul>
                <a href="/cabinet" class="delete-account__link pt50">
                    Удалить аккаунт
                </a>
            </main>
        </div>
    </div>
</section>

<hr>

<section class="cabinet">
    <div class="container">
        <div class="cabinet__content">
            <aside class="cabinet__sidebar">
                <div class="cabinet__profile__img__wrapper">
                    <img class="cabinet__profile__img" src="/images/cabinet/profile_img.jpg" alt="Profile img">
                    <div>
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </div>
                </div>
                <div class="cabinet__texts__wrapper">
                    <h2 class="cabinet__username">
                        Вахабов
                        Абдулбасит
                    </h2>
                    <a href="#" class="cabinet__edit">
                        Изменить профиль
                    </a>
                    <h3 class="cabinet__sidebar__header">
                        Покупки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Заказы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Купленные товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Регулярные доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возвраты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Цифровые товары
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Для меня
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Личная информация
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои данные
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Мои отзывы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Баллы
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Кодовое слово
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Дисконт %
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сохранённые карты
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Meros Card
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Акции и подписки
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Акция "1+1=3"
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Настройки уведомлений
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Доставка и магазин
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Ташкент
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Наши официальные магазины на карте
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Стоимость доставки
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Центр коммуникации
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Уведомления
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Сообщения
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Помощь
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Популярные вопросы
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы доставки
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Способы оплаты
                            </a>
                        </li>
                    </ul>
                    <h3 class="cabinet__sidebar__header">
                        Приложение
                    </h3>
                    <ul class="cabinet__sidebar__list">
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Возврат товаров
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                Аккаунт и безопасность
                            </a>
                        </li>
                        <li class="cabinet__sidebar__item">
                            <a class="cabinet__sidebar__link" href="/cabinet">
                                О приложение
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="cabinet__main">
                <h2 class="section__heading">
                    Мои данные
                </h2>
                <ul class="my-details__list">
                    <li class="my-details__item">
                        <h3>Meros Дисконт %</h3>
                        <p>10% - 25%</p>
                    </li>
                    <li class="my-details__item">
                        <h3>Meros Card</h3>
                        <p>Кэшбэк 5%</p>
                    </li>
                    <li class="my-details__item">
                        <h3>Баллы</h3>
                        <p>15 Баллов</p>
                    </li>
                </ul>
                <div class="my-details__footer">
                    <div class="promocode__wrapper">
                        <h3 class="section__heading">
                            Используйте промокод
                        </h3>
                        <form class="promocode__form">
                            <label class="visually-hidden" for="promocode__input">Promo Code</label>
                            <input class="input" type="text" placeholder="Введите промокод или сертификат"
                                   id="promocode__input" name="promocode">
                            <button class="button-blue" type="submit" disabled>Привязать</button>
                        </form>
                    </div>
                    <div>
                        <h3 class="section__heading">
                            Наши официальные магазины на карте
                        </h3>
                        <div class="our-address">
                            <img src="/images/cabinet/map.jpg" alt="Map">
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>

<div class="modal d-none">
    <div class="modal__content profile-img__modal">
        <h2 class="modal__heading section__heading">
            Изображение профиля
        </h2>
        <div class="modal__body">
            <div class="modal__left">
                <form class="profile-img__form">
                    <span>Загрузить изображение:</span>
                    <label for="source-img__file" class="open-file__label">
                        Загрузить
                    </label>
                    <input class="open-file__input" type="file" id="source-img__file" name="img__file__input"
                           accept="image/jpeg, image/png">
                    <label class="open-link__label" for="source-img__link">Или введите ссылку на
                        изображение:</label>
                    <input type="url" placeholder="https://example.com/img" id="source-img__link"
                           name="img__link__input">
                    <p class="modal__documentation">
                        Вы можете загружать изображения в форматах PNG или JPG. Изображение должно быть не менее
                        300x300 пикселей и не более 7
                        МБ.
                    </p>
                    <div class="modal__buttons__wrapper">
                        <button class="button-blue" type="button" disabled>
                            Отмена
                        </button>
                        <button class="button-blue" type="submit">
                            Сохранить
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal__img__wrapper">
                <div class="modal__img">
                    <img src="/images/cabinet/user-img.png" alt="user img">
                </div>
                <button class="delete-img__btn show" type="button">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal d-none">
    <div class="modal__content card__modal">
        <h2 class="modal__heading section__heading">
            Привязка банковской карты
        </h2>
        <div class="modal__body">
            <form class="card__form">
                <ul class="payment-system__list">
                    <li class="payment-system__item">
                        <input type="radio" value="visa" name="payment-system" id="visa">
                        <label for="visa">
                            <img src="/images/cabinet/visa.svg" alt="visa">
                        </label>
                    </li>
                    <li class="payment-system__item">
                        <input type="radio" value="mastercard" name="payment-system" id="mastercard">
                        <label for="mastercard">
                            <img src="/images/cabinet/mastercard.svg" alt="mastercard">
                        </label>
                    </li>
                    <li class="payment-system__item">
                        <input type="radio" value="uzcard" name="payment-system" id="uzcard">
                        <label for="uzcard">
                            <img src="/images/cabinet/uzcard.svg" alt="uzcard">
                        </label>
                    </li>
                    <li class="payment-system__item">
                        <input type="radio" value="humo" name="payment-system" id="humo">
                        <label for="humo">
                            <img src="/images/cabinet/humo.svg" alt="humo">
                        </label>
                    </li>
                </ul>
                <div class="card__registration">
                    <div class="required-info__wrapper">
                        <label for="card-number">
                            Номер карты
                        </label>
                        <input class="card-number__input" type="text" name="card_number" id="card-number"
                               placeholder="0000 0000 0000 0000" maxlength="16" minlength="16">
                        <label for="valid-until__month">
                            Действует до
                        </label>
                        <div class="valid-until__wrapper">
                            <input type="text" name="valid-until__month" id="valid-until__month"
                                   placeholder="мм" maxlength="2" minlength="2">
                            <input type="text" name="valid-until__year" placeholder="гг" maxlength="2"
                                   minlength="2">
                        </div>
                    </div>
                    <div class="extra__info__wrapper">
                        <label for="card-cvv">
                            CVV/CVC
                        </label>
                        <input type="text" id="card-cvv" name="card-cvv" placeholder="000" maxlength="3"
                               minlength="3">
                    </div>
                </div>
                <div class="row">
                    <button class="button-blue card__form__cancel__btn" type="button">
                        Отмена
                    </button>
                    <button class="button-blue" type="submit">
                        Привязать
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer') %>