<%- include('partials/header') %>

<section class="categories">
    <div class="container">
        <ul class="categories__list">
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/books.svg" alt="">
                </div>
                <div class="categories__name">Книги</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/disc.svg" alt="">
                </div>
                <div class="categories__name">Диски</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/atributka.svg" alt="">
                </div>
                <div class="categories__name">Атрибутика</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/kanstovar.svg" alt="">
                </div>
                <div class="categories__name">Канцтовары</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/formen.svg" alt="">
                </div>
                <div class="categories__name">Для мужчин</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/forwomen.svg" alt="">
                </div>
                <div class="categories__name">Для женщин</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/forkids.svg" alt="">
                </div>
                <div class="categories__name">Для детей</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/juvelir.svg" alt="">
                </div>
                <div class="categories__name">Ювелирные
                    изделия
                </div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/parfum.svg" alt="">
                </div>
                <div class="categories__name">Парфюмерия</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/food.svg" alt="">
                </div>
                <div class="categories__name">Продукты
                    питания
                </div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/healthy.svg" alt="">
                </div>
                <div class="categories__name">Лечения
                    здоровья
                </div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/beauty.svg" alt="">
                </div>
                <div class="categories__name">Красота и
                    уход
                </div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/oil.svg" alt="">
                </div>
                <div class="categories__name">Натуральные
                    масла
                </div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/suvenir.svg" alt="">
                </div>
                <div class="categories__name">Сувениры</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/posuda.svg" alt="">
                </div>
                <div class="categories__name">Посуда</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/dom.svg" alt="">
                </div>
                <div class="categories__name">Дом и
                    интерьер
                </div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/meros-merch.svg" alt="">
                </div>
                <div class="categories__name">Meros Мерч</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/idea-gift.svg" alt="">
                </div>
                <div class="categories__name">Идеи подарка</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/meros-card.svg" alt="">
                </div>
                <div class="categories__name">Meros Card</div>
                <a class="categories__link" href="/"></a>
            </li>
            <li class="categories__item">
                <div class="categories__img">
                    <img src="/images/categories/meros-diskont.svg" alt="">
                </div>
                <div class="categories__name">Meros
                    Dисконт
                </div>
                <a class="categories__link" href="/"></a>
            </li>
        </ul>
    </div>
</section>

<%- include('partials/footer') %>